*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    padding-bottom: 100px;
}
background {
    background: lightgray;
  }
  .topo {
    background: red;
    color: white;
    padding: 1em;
    /* border-radius: 10px; */
    box-shadow: 0 0 10px 0 #bbbbbb;
  }
  .produto {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 0 #bbbbbb;
    cursor: pointer;
    border: 5px solid white;
  }
  h1 {
    margin: 0px;
    font-family: "Righteous";
    font-weight: normal;
  }
  h2 {
    margin: 0px;
    font-size: 18px;
  }
  h3 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
  }
  img {
    width: 130px;
    border-radius: 5px;
    float: right;
  }
  .bebida, .sobremesa {
    background: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 0 #bbbbbb;
    cursor: pointer;
    border: 5px solid white;
  }
  .bebida img, .sobremsa img{
    width: 60px;
    border-radius: 5px;
    float: right;
  }
  #guarana img, #fanta img{
    width: 2.6em;
    padding-right: 11px;

  }
  #prestigio img{
    width: 8em;
    /* margin-top: 4.6em; */
    /* padding: 1.2em; */
  
  }
  
#kitkat img{
    padding-left: -11px;
    width: 6em;
}

footer{
  background: white;
  border: #bbbbbb 1px solid;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.fimPedido{
    background: green;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #bbbbbb;
    cursor: pointer;
}
#valorPedido{
    font-size: 20px;
    font-weight: bold;
}
.selecionado {
    border: 3px solid #4CAF50 !important;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
    transform: scale()(0.98);
    -webkit-transform: scale()(0.98);
    -moz-transform: scale()(0.98);
    -ms-transform: scale()(0.98);
    -o-transform: scale()(0.98);
}

.produto.selecionado,
.bebida.selecionado,
.sobremesa.selecionado {
    border: 3px solid #4CAF50 !important;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
    background-color: rgba(76, 175, 80, 0.1);
}